body {
	margin:0;
	padding:0;
	overflow: hidden;
}

section {
	width: 100%;
	color: black;
}

h3 {
	text-align: center;
}

h3 span {
	background-color: white;
	font-size: 48px;

}

.about {
    position: absolute;
    top: 40px;
    right: 42px;
    font-size: 24px;
    font-style: normal;
    color: white;
    font-weight: 400;
    line-height: 24px; /* 100% */
    letter-spacing: -0.96px;
    text-transform: lowercase;
}

a#about_link {
	color: white;
}

#results a#about_link{
    color: #F2F850;
}

#slide {
	margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
}

#picked {
	text-transform: uppercase;
}


.align_top {
	position: absolute;
	top: 44px;
	max-width: 75%;

}

.align_bottom {

	position: absolute;
	display: flex;
	bottom: 30px;
	width: 75%;

}

#color_value {
	text-transform: uppercase;
	font-size: 16px;
}
#user_link {
	font-size: 12px;
}

button {
	margin:8px;

	width: calc(50% - 32px);
	background: white;
	border-radius: 100px;
/*	height: 24px;*/
	border: 0;

	cursor:pointer;

	font-size: 18px;

	pointer-events: all !important;


	padding: 14px 24px 15px;

/*	position: flex;*/
/*	bottom:0px;*/
}

button#change {
	width: calc(50% - 32px);

}


#lookup {

	border-radius: 12px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);


	overflow: hidden;

	display: flex;


    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    font-size: 16px;


	padding: 4px 4px 8px;
	gap: 4px;

	position: absolute;

	min-width: 356px;
	height: 292px;

/*	font-size: 48px;*/

/*
	left: 26px;
	top: 256px;*/

	/*background: rgba(255, 255, 255, 0.56);
	backdrop-filter: blur(40px);
	*//* Note: backdrop-filter has minimal browser support */

	/* Inside auto layout */
	flex: none;
	order: 3;
	flex-grow: 0;
	z-index: 3;

	justify-content: center;

}

#lookup .color {

	width: 100%;
	height: 104px;

/*background: #408F33;*/

}

#lookup .text {

/*	width: 104px;*/
/*	height: 16px;*/

	font-style: normal;
	font-weight: 400;
/*	font-size: 16px;*/
/*	line-height: 16px;*/
	/* identical to box height, or 100% */
	text-align: center;
	letter-spacing: -0.04em;


/*	align-self: stretch;*/

}

#lookup .text span {

	background-color: #FFFFFF ;
	color: black ;
}


#user_name {
	bottom: 20px;
    position: absolute;
}

.footer, .header {
	position: absolute;
/*	height: 48px;*/
	width: 100%;
/*	background: rgba(255,255,255,1);*/
/*	backdrop-filter: blur(40px);*/

	pointer-events: none;

}



.header {
	top: 0;
	display: flex;
}
.header h3 {
	color: black;
	width: 50%;
	display: flex;
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    justify-content: space-around;
    text-align: left;
}
.footer {
	bottom: 30px;
	text-align: center;

	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#results {
	position: static !important;
}

.logo {
	cursor: pointer;
	pointer-events: all;
	opacity: 0.5;
}
