body {
	margin:0;
	padding:0;
	overflow: hidden;
}

section {
	width: 100%;
	color: white;
}

#slide {
	margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
}

#picked {
	text-transform: uppercase;
}


.align_top {
	position: absolute;
	top: 8px;
}

.align_bottom {

	position: absolute;
	display: flex;
	bottom: 0px;
	width: 75%;

}

#color_value {
	text-transform: uppercase;
	font-size: 16px;
}
#user_link {
	font-size: 12px;
}

button {
	margin:8px;

	width: calc(75% - 32px);
	background: white;
	border-radius: 12px;
	height: 24px;
	border: 0;

	cursor:pointer;

/*	position: flex;*/
/*	bottom:0px;*/
}

button#change {
	width: calc(25% - 32px);

}


#lookup {


	overflow: hidden;

	display: flex;


    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    font-size: 16px;


	padding: 4px 4px 8px;
	gap: 4px;

	position: absolute;

	min-width: 112px;
	height: 172px;

/*	font-size: 48px;*/

/*
	left: 26px;
	top: 256px;*/

	background: rgba(255, 255, 255, 0.56);
	backdrop-filter: blur(40px);
	/* Note: backdrop-filter has minimal browser support */

	/* Inside auto layout */
	flex: none;
	order: 3;
	flex-grow: 0;
	z-index: 3;

}

#lookup .color {

	width: 100%;
	height: 104px;

/*background: #408F33;*/

}

#lookup .text {

/*	width: 104px;*/
/*	height: 16px;*/

	font-style: normal;
	font-weight: 400;
/*	font-size: 16px;*/
/*	line-height: 16px;*/
	/* identical to box height, or 100% */
	text-align: center;
	letter-spacing: -0.04em;

	color: #FFFFFF;

	align-self: stretch;

}

.footer, .header {
	position: absolute;
	height: 48px;
	width: 100%;
/*	background: rgba(255,255,255,1);*/
/*	backdrop-filter: blur(40px);*/

	pointer-events: none;

}

.header {
	top: 0;
	display: flex;
}
.header h3 {
	color: black;
	width: 50%;
	display: flex;
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    justify-content: space-around;
    text-align: left;
}
.footer {
	bottom: 0;
	text-align: right;

	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

#results {
	position: static !important;
}

.logo {
	cursor: pointer;
	pointer-events: all;
	opacity: 0.5;
}
