html {cursor: none;}
body {
    overflow: hidden;
    margin:0;
    padding:0;
    transition: background-color 200ms ease-in;

}

svg,img,h2,button {user-select: none;}

path {
    transition: fill 200ms ease-in;

}

a,h2 {transition: color 200ms ease-in;}
button{transition: all 200ms ease-in;}


.about {
    position: absolute;
    top: 56px;
    right: 40px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    letter-spacing: -0.96px;
    text-transform: lowercase;
}

#about_link {
    text-decoration: none;
    cursor: none;
}
#about_link:hover {
    text-decoration: underline;
}

#dropper {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 100;
    pointer-events: none;

    filter: drop-shadow( 6px 3px 2px rgba(0, 0, 0, .5));
/*     rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;*/
}

.description {

    /* Узнать, какой цвет года на самом деле люди считают самым модным, сравнить с тем какой получился у Pantone */

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */
    
    text-align: left;
    letter-spacing: -0.04em;
    text-transform: lowercase;

    width:100%;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.cta {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 456px;
    height: 118px;

    right: 40px;
    bottom: 90px;

}

#word_trendiest {

    position: absolute;
    left: 10%;
/*    margin-left: -320px;*/
    top: 35px;
}

#word_color {
    position: absolute;
    left: 51.66%;
    top: 221px;
}

#word_2024 {
    position: absolute;
    bottom: 48px;
    left: 40px;
}

#hi {
    text-align: center;
}

#slide {
    margin: auto;
}


button#start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 40px 13px;
    gap: 10px;

    font-size: 18px;

    width: 456px;
    height: 48px;

/*    background: #EDA8F0;*/
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    cursor: none;
    border-width: 0px;

}

/*COLORS*/

body.first {
    background: #D62270;
}
body.first .cta, body.first, #about_link {
    color: #EDA8F0;;
}
body.first button {
    background: #EDA8F0;
    color: #D62270;
}

body.second {
    background: #C2EC3F;
}
body.second .cta, body.second #about_link {
    color: #018678;
}
body.second button {
    background: #018678;
    color: #C2EC3F;
}


body.third{
    background-color: #0F4767;
}
body.third .cta, body.third #about_link{
    color: #F1D8BA;
}
body.third button {
    background-color: #F1D8BA;
    color: #0F4767;
}
body.forth {
    background-color: #8D752C;

}
body.forth .cta, body.forth #about_link {
    color: #F2F850;
}

body.forth button:hover {
    background-color: #F6FA87;
}
body.forth button {
    background-color: #F2F850;
    color: #8D752C;
}
