
body {
	margin:0;
	padding:0;
	font-family: 'Martian Mono';
}

button, h3, input, input::placeholder {
	font-family: 'Martian Mono' !important;
}

button {
	cursor: pointer;
}

input:focus {outline:none;}


h3 {
	padding: 0;
	margin: 0;
}

body>section {

	margin: auto;
	width: 100%;

	position: relative;
}



#colorpicker {

	width:100%;
	height: 50%;

	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, #ff0000 0%, #ffff00 16.66666%, #00ff00  33.33333%, #00ffff 50%, #0000ff 66.66666%, #ff00ff 83.33333%, #ff0000 100%);

}

#brightcontrol {

	height: 5%;
	width:100%;

	background: linear-gradient(90deg, #000000 0%, #ffffff 100%);
	position: relative;
	cursor: pointer;

}

#slider {
	position: absolute;
	right: 0px;
	width: 20px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	height: 100%;

	cursor: pointer;

}

#color_selected {

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;

    color: #FFFFFF;


    margin-bottom: 12px;
    margin-top: 12px;

	color: white;
	text-transform: uppercase;
}

#color_value {
}