<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>цветовой тотализатор</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
    </style>
	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="about.css">

</head>

<body >

<svg id="word_about" width="253" height="68" viewBox="0 0 253 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.136 66H0.768L0.48 64.944L17.376 0.239994H27.744L44.544 64.944L44.16 66H33.888L31.488 56.016H13.536L11.136 66ZM16.032 45.456H28.992L22.752 19.056H22.368L16.032 45.456ZM59.4 0.239994V27.696L59.688 27.888C65.736 20.88 72.264 16.464 81.192 16.464C91.944 16.464 98.856 25.872 98.856 42.096C98.856 58.32 91.944 67.536 81.192 67.536C72.264 67.536 65.736 62.736 59.688 56.304L59.4 56.496V66H48.84V0.239994H59.4ZM59.4 42.096C63.24 47.184 73.512 56.496 79.56 56.496C83.688 56.496 87.72 53.232 87.72 42.096C87.72 30.96 83.688 27.504 79.56 27.504C73.512 27.504 63.24 36.912 59.4 42.096ZM100.256 42C100.256 30.384 111.968 16.368 126.56 16.464C141.152 16.56 152.864 30.384 152.864 42C152.864 53.616 141.152 67.536 126.56 67.536C111.968 67.536 100.256 53.616 100.256 42ZM111.008 42C111.008 50.16 119.744 56.784 126.56 56.784C133.376 56.784 142.112 50.16 142.112 42C142.112 33.84 133.376 27.312 126.56 27.216C119.744 27.12 111.008 33.84 111.008 42ZM158.156 18H168.716V45.648C168.716 54 170.252 56.304 173.516 56.304C176.204 56.304 178.796 53.424 181.772 48.24C185.996 40.848 191.66 26.736 194.252 18H204.044V66H193.676V61.104C193.676 54.192 194.252 48.624 195.212 41.424L194.636 41.328C191.756 52.08 185.228 67.536 172.172 67.536C162.86 67.536 158.156 60.24 158.156 49.104V18ZM233.963 0.239994V18H251.147V28.56H233.963V47.28C233.963 53.904 236.555 56.208 239.723 56.208C242.507 56.208 246.155 54.768 247.787 53.424L252.779 63.12C249.611 65.136 243.755 67.536 239.147 67.536C226.187 67.536 223.403 56.88 223.403 44.88V28.56H206.891V18H223.403V0.239994H233.963Z" fill="#333333"/>
</svg>


<div class="desc">

	Мы создаем культурно-ориентированные фирменные стили и помогаем бизнесу общаться с помощью цифровых медиа, печатного дизайна, графики и иллюстраций. Наш дизайн обладает непреходящей силой, потому что мы основываем свой процесс на интенсивных исследованиях, тщательно изучая контекст каждого проекта.
<br/>
<br/>
	Смелые идеи нуждаются в смелых визуальных образах. Именно поэтому мы объединяем четкие концепции и необычные формы, создавая яркие и необычные проекты, которые связаны с визуальной культурой и в то же время основаны на человечности.

</div>

{{!-- <a href="eshgruppa.com"><img src="logo.svg"></a> --}}

</body>

</html>