<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>цветовой тотализатор</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
    </style>
	<link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="about.css">

</head>

<body >

<svg id="word_about" width="253" height="68" viewBox="0 0 253 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.136 66H0.768L0.48 64.944L17.376 0.239994H27.744L44.544 64.944L44.16 66H33.888L31.488 56.016H13.536L11.136 66ZM16.032 45.456H28.992L22.752 19.056H22.368L16.032 45.456ZM59.4 0.239994V27.696L59.688 27.888C65.736 20.88 72.264 16.464 81.192 16.464C91.944 16.464 98.856 25.872 98.856 42.096C98.856 58.32 91.944 67.536 81.192 67.536C72.264 67.536 65.736 62.736 59.688 56.304L59.4 56.496V66H48.84V0.239994H59.4ZM59.4 42.096C63.24 47.184 73.512 56.496 79.56 56.496C83.688 56.496 87.72 53.232 87.72 42.096C87.72 30.96 83.688 27.504 79.56 27.504C73.512 27.504 63.24 36.912 59.4 42.096ZM100.256 42C100.256 30.384 111.968 16.368 126.56 16.464C141.152 16.56 152.864 30.384 152.864 42C152.864 53.616 141.152 67.536 126.56 67.536C111.968 67.536 100.256 53.616 100.256 42ZM111.008 42C111.008 50.16 119.744 56.784 126.56 56.784C133.376 56.784 142.112 50.16 142.112 42C142.112 33.84 133.376 27.312 126.56 27.216C119.744 27.12 111.008 33.84 111.008 42ZM158.156 18H168.716V45.648C168.716 54 170.252 56.304 173.516 56.304C176.204 56.304 178.796 53.424 181.772 48.24C185.996 40.848 191.66 26.736 194.252 18H204.044V66H193.676V61.104C193.676 54.192 194.252 48.624 195.212 41.424L194.636 41.328C191.756 52.08 185.228 67.536 172.172 67.536C162.86 67.536 158.156 60.24 158.156 49.104V18ZM233.963 0.239994V18H251.147V28.56H233.963V47.28C233.963 53.904 236.555 56.208 239.723 56.208C242.507 56.208 246.155 54.768 247.787 53.424L252.779 63.12C249.611 65.136 243.755 67.536 239.147 67.536C226.187 67.536 223.403 56.88 223.403 44.88V28.56H206.891V18H223.403V0.239994H233.963Z" fill="#333333"/>
</svg>


<div class="desc">

  Мы создаем культурно-ориентированные фирменные стили и помогаем бизнесу общаться с помощью цифровых медиа, печатного дизайна, графики и иллюстраций. Наш дизайн обладает непреходящей силой, потому что мы основываем свой процесс на интенсивных исследованиях, тщательно изучая контекст каждого проекта.
<br/>
<br/>
  Смелые идеи нуждаются в смелых визуальных образах. Именно поэтому мы объединяем четкие концепции и необычные формы, создавая яркие и необычные проекты, которые связаны с визуальной культурой и в то же время основаны на человечности.

</div>

<a href="https://eshgruppa.com">
<div class="footer__logo">

<span><nobr>ESH gruppa</nobr></span>

<svg id=logo width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_523_372)">
<rect width="40" height="40" rx="20" fill="black"/>
<path d="M36.4707 21.0151C36.4707 17.5143 34.3984 16.4499 32.5217 16.4499C31.1497 16.4499 29.8047 17.066 28.9931 17.7385C28.5726 15.2178 28.2928 10.0645 28.9652 6.64721L25.7165 6.03115C25.4081 7.48742 25.2125 8.97227 25.2125 11.1567C25.2125 14.7973 25.8564 19.3346 25.8564 24.1239C25.8564 26.0007 25.6886 27.9888 25.296 29.7813L28.5448 30.4252C29.2451 28.1287 29.4128 24.0397 29.2172 21.0707C29.5813 20.6224 30.5336 19.8943 31.5701 19.8943C32.5503 19.8943 33.1385 20.4261 33.1385 21.659C33.1385 22.527 32.8301 23.4236 32.2704 24.3473C31.3746 25.8036 30.8698 26.868 30.8698 28.2964C30.8698 29.949 31.5701 31.6573 32.8022 32.8059L35.1551 30.4816C34.5391 29.8655 34.1186 29.2495 34.1186 28.2972C34.1186 27.569 34.5391 26.7567 35.3229 25.2161C36.1631 23.5643 36.4707 21.9395 36.4707 21.0151ZM17.2301 21.0437L14.8494 18.7472C14.1769 19.6716 11.8248 21.2956 10.8725 21.1001C11.6848 20.0357 13.0569 17.6271 13.0569 14.5747C13.0569 11.8021 11.4043 10.0938 8.82797 10.0938C6.30733 10.0938 4.59907 12.1947 4.59907 15.4149C4.59907 17.8235 5.24296 20.0643 6.39158 21.6326C5.80335 22.4172 4.15076 24.069 3.31055 24.7693L5.55137 27.1779C6.41941 26.5054 8.26833 24.7129 8.94005 23.7606C9.36053 24.0404 10.4241 24.1811 11.0124 24.1811C13.6173 24.1804 16.502 22.0794 17.2301 21.0437ZM8.5474 19.2512C7.95917 18.3267 7.67935 16.7305 7.67935 15.4142C7.67935 14.322 8.18333 13.3975 8.96788 13.3975C9.58394 13.3975 10.0044 14.322 10.0044 15.2457C10.0037 16.1701 9.5561 17.9348 8.5474 19.2512ZM19.4987 12.6694L22.3278 14.3498C23.3922 12.7536 24.1203 10.7091 24.1203 8.55254C24.1203 5.13528 21.8795 3.23145 18.8827 3.23145C16.0258 3.23145 13.6173 5.50009 13.6173 9.14077C13.6173 12.3895 15.0735 14.6582 17.7341 18.4395C20.1148 21.8282 20.955 24.6851 20.955 27.8218C20.955 31.2947 19.4987 33.3956 16.9217 33.3956C15.4933 33.3956 14.1769 32.4155 14.1769 30.8186C14.1769 28.9418 16.5298 27.2614 19.1061 26.7296L18.3501 23.5086C14.3168 24.2646 10.8725 27.542 10.8725 30.8186C10.8725 34.5713 13.4495 36.7001 16.9217 36.7001C21.8509 36.7001 24.2595 32.5268 24.2595 27.8218C24.2595 24.2932 22.8032 20.0635 20.1983 16.3108C17.4257 12.3339 16.9217 10.6535 16.9217 9.14077C16.9217 7.40468 17.6777 6.53588 18.8819 6.53588C20.002 6.53588 20.8144 7.40393 20.8144 8.55254C20.8151 9.81249 20.2825 11.5486 19.4987 12.6694Z" fill="#FEBE98"/>
</g>
<defs>
<clipPath id="clip0_523_372">
<rect width="40" height="40" rx="20" fill="#FEBE98"/>
</clipPath>
</defs>
</svg>


</div>
</a>


<a onclick="history.back()" href="#back">
<svg id=close width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M41.9998 41.9998L22 22M22 22L2 2M22 22L42 2M22 22L2 42" stroke="#333333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>


 <div class="align_bottom">
  <a href="https://www.linkedin.com/company/esh-gruppa/"> <button>Linkedin</button> </a>
  <a href="https://www.instagram.com/eshgruppa/"> <button>Instagram</button> </a>
  <a href="https://twitter.com/EshGruppa"> <button>Twitter</button> </a>
 </div>



</body>


</html>